---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
const posts = await getCollection('blog');

const sortedPosts = posts.sort((a, b) => {
	const dateA = a.data.pubDate ? new Date(a.data.pubDate).getTime() : 0;
	const dateB = b.data.pubDate ? new Date(b.data.pubDate).getTime() : 0;
	return dateA - dateB;
});

const currentIndex = sortedPosts.findIndex(p => p.slug === post.slug);
const prevPost = currentIndex > 0 ? sortedPosts[currentIndex - 1] : null;
const nextPost = currentIndex < sortedPosts.length - 1 ? sortedPosts[currentIndex + 1] : null;

---

<BlogPost {...post.data}>
	<Content />
  <footer class="post-navigation">
    {prevPost && (
			<a href={`/blog/${prevPost.slug}`} class="next-post">← 이전 글
<br/>      
       {prevPost.data.title} </a>
		)}
		{nextPost && (
			<a href={`/blog/${nextPost.slug}`} class="prev-post">다음 글 →
<br/>
       {nextPost.data.title} </a>
		)}
		
	</footer>
</BlogPost>
<style>
	.post-navigation {
		display: flex;
		justify-content: space-between;
		margin-top: 2rem;
		padding-top: 1rem;
		border-top: 1px solid #ccc;
    gap: 6rem;
	}
	.prev-post, .next-post {
	color: #5988fe;
	text-decoration: none;
	transition: all 0.3s ease;
}

.prev-post:hover, .next-post:hover {
	background-color: #f0f0f0;
	border-radius: 4px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
}
</style>
